@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wdth,wght@75..100,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wdth,wght@75..100,700&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Georgia", serif;
  background-color: #fefdf9;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
padding: 20px;
}

.menu {
display: flex;
flex: 2;
justify-content: space-between;
}

.menu-item {
flex: 1;
text-align: center;
text-decoration: none;
color: black;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.menu-item:hover {
color: gray;
}

.navbar img {
width: 50px;
height: 50px;
}

.toggle {
display: none;
cursor: pointer;
}


@media (max-width: 768px) {
.toggle {
  display: block;
  position: absolute;
  right: 20px;
  font-size: 1.50rem;
}
.navbar{
  justify-content: space-between;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: white;
  padding: 10px 0;
}

.menu.active {
  display: flex;
}

.menu-item {
  flex: none;
  width: 100%;
  text-align: center;
}
}
.hero-section {
  position: relative;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.hero-text {
  color: white;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    to right,
    #000000,
    #d00e0e,
    #f1c40f
  ); /* Black, Red, Yellow */
  -webkit-background-clip: text;
  color: transparent;
}
.hero-text h3 {
  font-size: 2.5rem;
  background: linear-gradient(
    to right,
    #000000,
    #d00e0e,
    #f1c40f
  ); /* Black, Red, Yellow */
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .hero-section img {
    margin-top: 80px;
  }
}
.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 50px 0 50px;
  background-color: #fff;
}
.section-left,
.section-right {
  flex: 1 1 48%;
}

/* Heading and Sub-heading Styling */
.section-left h1 {
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.48rem;
}

.section-left span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
  display: block;
}

.section-left h4 {
  display: inline-block;
  font-size: 2rem;
  color: #1c1c1c;
  background-color: #f2e2a2;
}

.section-left p {
  font: 2rem sans-serif;
  line-height: 1.92rem;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .section-left,
  .section-right {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0 10px 0;
  }
}

/* Button Styling */
/* Button Styling */
.btn-individuals {
  background-color: #efda85;
  color: #d00e0e;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-individuals:hover {
  background-color: #f1c40f;
}

.btn-individuals i {
  margin-left: 10px;
  color: #d00e0e;
  background-color: #f1c40f;
  padding: 20px;
  font-size: 1.5rem;
}

/* Image Container Styling */
.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
}
.second-con {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 50px 30px 0 50px;
}
.section-left,
.section-right {
  width: 50%;
  height: auto;
}
.section-box {
  background-color: #f37348;
  margin-top: 50px;
}
.section-box h5 {
  font-size: 1.5rem;
  background-color: white;
  display: inline-block;
  padding: 20px;
  font: 2em sans-serif;
}
.section-box h2 {
  font-size: 5rem;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.section-box p {
  font-size: 1rem;
  text-align: center;
  font: 2em sans-serif;
}

.accordion{
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}
.accordion .accordion-title{
  margin-bottom: 30px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.accordion .content-container .question{
  padding: 18px 0px;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid #000;

  position: relative;
}
.accordion .content-container .question::after{
  content: '+';

  position: absolute;
  right: -5px;
}
.accordion .content-container .answer{
  padding-top: 15px;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;

  height: 0px;
  overflow:  hidden;
  transition: .5s;
}

.accordion .content-container.active .answer{
  height: 150px;
}

.accordion .content-container.active .question{
  font-size: 18px;
  transition: .5s;
}
.accordion .content-container.active .question::after{
  content: '-';
  font-size: 30px;
  transition: .5s;
}
.services {
  text-align: left;
  width: 100%;
  padding: 0 0 0 20px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}
.service-item {
  display: inline-block;
  width: 48%;
  height: 194px;
  margin-bottom: 20px;
}
@media (max-width: 425px){
  .service-item{
    width: 100%;
    text-align: center;
  }
}
.service-item i {
  font-size: 2.5rem;
  margin-bottom: 10px;
  display: block;
  color: #fbdbb7;
  height: 48px;
  padding-bottom: 20px;
}
.service-item span {
  font-size: 32.px;
  height: 126px;
}

.container {
  width: 100vw;
  display: flex;
  padding: 60px 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.left-section {
  width: 40%;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
}

.icon-box {
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  background-color: #e7f47a;
  border-radius: 12px;
  padding: 2px;
  width: 30px;
  height: 30px;
}

.left-section h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: normal;
  color: #3a342e;
  letter-spacing: 2px;
  margin: 0;
}

.blue-line {
  width: 90%;
  height: 5px;
  background-color: #f3e700;
  margin-top: 20px;
}

.right-section {
  width: 100%;
  height: auto;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 5%;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.line .logo img {
  height: 90%;
  width: 60%;
  filter: grayscale(100%);
  padding: 5%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 40px 40px;
  }

  .right-section {
    padding-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.report-section {
  padding: 30px 40px;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.report-title {
  background-color: #e5e6de;
  padding: 14px 28px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.report-title img {
  width: 20px;
  height: 20px;
}

.read-all {
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.read-all:hover {
  background-color: #e5e6de;
}

.report-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.report-card {
  display: flex;
  flex-direction: column;
}

.report-card img {
  width: 100%;
  height: 225px;
  margin-bottom: 12px;
}

.report-title-text {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
}

.report-title-blue {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  color: white;
  background-color: #2e69d2;
  padding: 4px 8px;
  display: inline-block;
}

.report-date {
  font-size: 14px;
  color: #333;
}

@media (max-width: 1100px) {
  .report-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .report-grid {
    grid-template-columns: 1fr;
  }

  .report-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.report-stats {
  padding: 5rem 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-row: auto;
  gap: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .report-stats {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .report-stats {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.report-stats article {
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border-bottom: 4px solid transparent;
}

.report-stats article span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.report-stats article p {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.report-stats article:nth-of-type(1) {
  border-bottom-color: #FFCE00;
}
.report-stats article:nth-of-type(2) {
  border-bottom-color: #FFCE00;
}
.report-stats article:nth-of-type(3) {
  border-bottom-color: #FFCE00;
}

.site-footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex: 1;
  max-width: 50%;
}

.footer-left h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.footer-logo {
  max-width: 150px;
  height: auto;
}

.social-icons {
  margin-bottom: 15px;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons i {
  color: white;
  font-size: 2rem;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .site-footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.stats-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 99%;
  margin: 10px;
  background-color: #fff77a;
  
  box-sizing: border-box;
}

.stat-card {
  background: #fff77a;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stat-card img {
  width: 100%;
  height: auto;
}
    
@media (max-width: 768px) {
  .stats-section{
    margin: 10px;
  }
}

